# {{ .title }}

## Overview

{{ .overview.application.description }}
{{ .overview.collector.description }}
## Collected metrics

{{ .metrics.description }}
{{ if .metrics.folding.enabled }}
<details>
<summary>{{ .metrics.folding.title }}</summary>
{{ end }}

{{- range $_, $scope := .metrics.scope }}

### {{ $scope.name }}

{{ $scope.description }}
{{ if not $scope.labels }}
This scope has no labels.
{{ else }}
Labels:

| Label   | Description |
| -------| -----------  |
{{ range $_, $label := $scope.labels }}
| {{- $label.name -}}| {{- $label.description -}} |
{{ end }}
{{ end }}
Metrics:

| Metric   | Dimensions | Unit |
| -------|  :-------: | :--------: |
{{- range $_, $metric := $scope.metrics }}
  {{- $dimList := list }}
  {{- range $_, $dim := $metric.dimensions }}
  {{- $dimList = append $dimList $dim.name}}
  {{- end }}
| {{- $metric.name -}}| {{- $dimList | join ", " }} | {{- $metric.unit -}} |
{{- end }}

{{- end }}

{{ if .metrics.folding.enabled }}
</details>
{{ end }}
## Setup

### Prerequisites
{{ range $_, $val := .setup.prerequisites.list }}
#### {{ $val.title }}

{{ $val.text }}
{{- end }}

### Configuration

#### File format

This file is in YAML format. Generally the format is:

```yaml
update_every: 1
autodetection_retry: 0
jobs:
  - name: some_name1
  - name: some_name1
```

#### Options

{{ .setup.configuration.options.description }}
{{ if .setup.configuration.options.folding.enabled -}}
<details>
<summary>{{ .setup.configuration.options.folding.title }}</summary>
{{ end }}
| Name   | Description | Default |
| :-------:| ----------- | :-------: |
{{- range $key, $val := .setup.configuration.options.list }}
| {{- $val.name -}}| {{- $val.description -}} | {{- $val.default }} |
{{- end }}
{{ if .setup.configuration.options.folding.enabled }}
</details>
{{- end }}

#### Examples

{{- range $_, $val := .setup.configuration.examples.list }}

##### {{ $val.name }}
{{ if $val.folding.enabled }}
{{ $val.description}}
<details>
<summary>{{ $val.folding.title }}</summary>

```yaml
{{ $val.data -}}
```

</details>
{{- else }}
{{ $val.description}}

```yaml
{{ $val.data -}}
```
{{- end }}
{{- end }}

## Troubleshooting

### Debug mode

To troubleshoot issues with the `{{ .name }}` collector, run the `go.d.plugin` with the debug option enabled. The output
should give you clues as to why the collector isn't working.

- Navigate to the `plugins.d` directory, usually at `/usr/libexec/netdata/plugins.d/`. If that's not the case on
  your system, open `netdata.conf` and look for the `plugins` setting under `[directories]`.

  ```bash
  cd /usr/libexec/netdata/plugins.d/
  ```

- Switch to the `netdata` user.

  ```bash
  sudo -u netdata -s
  ```

- Run the `go.d.plugin` to debug the collector:

  ```bash
  ./go.d.plugin -d -m apache
  ```
{{ if .troubleshooting.problems.list }}
### Common Problems
{{- range $key, $val := .troubleshooting.problems.list }}

#### {{ $val.name}}

{{ $val.text}}
{{- end }}
{{- end }}
